<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <!-- Header -->
    <header class="align--center pt1">
        <div class="container--lg border--bottom pb1">
            <h1 class="text--gray">Simple emoji calculator app.</h1>
            <h4>Start your symfony project with codeception test framework.</h4>
        </div>
    </header>

    <main>

        <!-- Feature list -->
        <div class="container pt1 mt1 text--gray align--center page-content" id="page-content">
            {% block pageContent %}

            {% endblock %}
        </div>
    </main>

    <!-- Footer -->
    <footer class="pt1 pb1 align--center-on-mobile">
        <div class="container footer-container">
            <div class="grid-row footer-content">
                <div class="grid-column mt2 span-half">
                    <p class="small">Developed by <a href="https://www.linkedin.com/in/ahadnoor/" class="link link--text">Ahad Noor Alam</a>.</p>
                </div>
            </div>
        </div>
    </footer>
    </body>
</html>
